doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="src/styles/style.scss")
        title 교육 앱 UI
    body 
        .phone
            header.header
                ul.header__list
                    li.header__list-item.header__list-item--inverted All
                    li.header__list-item Advertising
                    li.header__list-item Dev & Research
                    li.header__list-item Goals
                    li.header__list-item iOS Development
            div.cards
                div.cards__card
                    h2.card__title The Making of Modern Art
                    div.card__footer
                        span.price Free
                        span.length 2
                div.cards__card
                    h2.card__title Mobile Interfaces Advanced
                    div.card__footer
                        span.price Free
                        span.length 2
                div.cards__card
                    h2.card__title Graphic Design
                    div.card__footer
                        span.price $199/month
                        span.length 8 month
                div.cards__card
                    h2.card__title Web Design junior
                    div.card__footer
                        span.price Free 
                        span.length 3
                div.cards__card
                    h2.card__title Inclusive Web Design
                    div.card__footer
                        span.price $99/month
                        span.length 3
                div.cards__card
                    h2.card__title Machine Learning
                    div.card__footer
                        span.price 200$/month
                        span.length 4
