doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="src/styles/style.scss")
        title 교육 앱 UI
    body 
        header.header
            ul.header__list
                li.header__list-item All
                li.header__list-item Advertising
                li.header__list-item Dev & Research
                li.header__list-item Goals
